In [1]:
import pandas as pd

In [2]:
df_litter = pd.read_csv("raw-data/DSNY_Litter_Basket_Inventory_20240922.csv")
df_litter.dtypes

BASKETID                  int64
BASKETTYPE               object
DIRECTION                object
LOCATION_DESCRIPTION     object
OWNERTYPE                object
SECTION                  object
STATEPLANE_LABELX       float64
STATEPLANE_LABELY       float64
STATEPLANE_SNAPPEDX     float64
STATEPLANE_SNAPPEDY     float64
STREETNAME1              object
STREETNAME2              object
OBJECTID                  int64
point                    object
dtype: object

In [4]:
df_bx = df_litter[df_litter["SECTION"].str.contains("BX") == True]
df_bx

,BASKETID,BASKETTYPE,DIRECTION,LOCATION_DESCRIPTION,OWNERTYPE,SECTION,STATEPLANE_LABELX,STATEPLANE_LABELY,STATEPLANE_SNAPPEDX,STATEPLANE_SNAPPEDY,STREETNAME1,STREETNAME2,OBJECTID,point
0,20830076,S,NaN,NaN,D,BX083,1.010882e+06,262449.998772,NaN,NaN,NaN,NaN,9118,POINT (-73.9036821612 40.8869984052)
17,20820090,S,Direction TBD,Location Description T/K,D,BX082,1.010896e+06,259960.704210,1.010864e+06,259977.524386,Street Name TBD,NaN,9861,POINT (-73.9036411937 40.8801660309)
25,20730109,S,NE,NE corner of BAINBRIDGE AV and E 210 ST,D,BX073,1.017789e+06,259797.861687,1.017745e+06,259768.305972,BAINBRIDGE AV,E 210 ST,9592,POINT (-73.8787168508 40.8796955774)
26,20720036,S,E,E corner of E KINGSBRIDGE RD and MORRIS AV,D,BX072,1.013010e+06,255211.466989,1.012963e+06,255199.935844,E KINGSBRIDGE RD,MORRIS AV,10512,POINT (-73.8960182686 40.8671242092)
46,21030041,R,N,N corner of E TREMONT AV and DUDLEY AV,D,BX103,1.029579e+06,245131.217464,1.029567e+06,245090.267743,E TREMONT AV,DUDLEY AV,7189,POINT (-73.8361817898 40.8393874389)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24629,20110005,S,N,N corner of BROOK AV and E 147 ST,D,BX011,1.007550e+06,235763.202408,1.007565e+06,235738.091566,BROOK AV,E 147 ST,6581,POINT (-73.9158254381 40.8137605156)
24631,21130037,S,SW,SW corner of E GUN HILL RD and FISH AV,D,BX113,1.026518e+06,256567.588949,1.026546e+06,256570.129954,E GUN HILL RD,FISH AV,9604,POINT (-73.8471692371 40.8707919964)
24641,20610102,R,S,S corner of E FORDHAM RD and HUGHES AV,D,BX061,1.016250e+06,251894.915551,1.016240e+06,251925.467327,E FORDHAM RD,HUGHES AV,23508,POINT (-73.8843198266 40.8580101341)
24653,20120020,S,SW,SW corner of PROSPECT AV and E 156 ST,D,BX012,1.011115e+06,237041.733971,1.011177e+06,237067.737856,PROSPECT AV,E 156 ST,7589,POINT (-73.9029402452 40.8172596019)
24671,20610157,R,NW,NW corner of CRESCENT AV and HUGHES AV,D,BX061,1.015148e+06,250332.205094,1.015169e+06,250312.993518,CRESCENT AV,HUGHES AV,22641,POINT (-73.8883105713 40.8537248895)

In [ ]:
# SECTIONS: BX011, BX012, BX041, BX031

In [35]:
df_cb1 = df_bx[df_bx["SECTION"].str.contains("BX011|BX012|BX041|BX031") == True]
df_cb1

,BASKETID,BASKETTYPE,DIRECTION,LOCATION_DESCRIPTION,OWNERTYPE,SECTION,STATEPLANE_LABELX,STATEPLANE_LABELY,STATEPLANE_SNAPPEDX,STATEPLANE_SNAPPEDY,STREETNAME1,STREETNAME2,OBJECTID,point
58,20110234,S,N,N corner of 3 AV and E 145 ST,D,BX011,1.006083e+06,235993.832524,1.006053e+06,235939.383814,3 AV,E 145 ST,9434,POINT (-73.9211258213 40.814397279)
150,20310120,R,NE,NE corner of BOSTON RD and PROSPECT AV,O,BX031,1.012967e+06,243089.751731,1.012956e+06,243024.884735,BOSTON RD,PROSPECT AV,10994,POINT (-73.8962240381 40.8338538526)
215,20120043,S,SE,SE corner of E 149 ST and TINTON AV,D,BX012,1.010225e+06,235264.436673,1.010190e+06,235328.466401,E 149 ST,TINTON AV,7981,POINT (-73.9061635455 40.8123840832)
219,20110122,S,E,E corner of ALEXANDER AV and E 141 ST,D,BX011,1.005444e+06,235123.821469,1.005410e+06,235117.403831,ALEXANDER AV,E 141 ST,7156,POINT (-73.9234350938 40.812010897)
247,20120083,R,Direction TBD,Location Description T/K,D,BX012,1.006992e+06,233382.355135,1.006965e+06,233335.180319,Street Name TBD,NaN,8205,POINT (-73.9178512867 40.8072272093)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24529,20110031,S,SW,SW corner of MELROSE AV and E 150 ST,D,BX011,1.007037e+06,236825.988012,1.007063e+06,236850.133305,MELROSE AV,E 150 ST,6608,POINT (-73.9176762473 40.8166789024)
24548,20110126,S,E,E corner of ALEXANDER AV and E 139 ST,D,BX011,1.005184e+06,234667.646200,1.005147e+06,234659.022201,ALEXANDER AV,E 139 ST,7162,POINT (-73.924376513 40.8107594436)
24628,20110133,S,SE,SE corner of COURTLANDT AV and E 155 ST,D,BX011,1.007060e+06,238197.079430,1.007043e+06,238241.590496,COURTLANDT AV,E 155 ST,7174,POINT (-73.9175865862 40.8204421003)
24629,20110005,S,N,N corner of BROOK AV and E 147 ST,D,BX011,1.007550e+06,235763.202408,1.007565e+06,235738.091566,BROOK AV,E 147 ST,6581,POINT (-73.9158254381 40.8137605156)
24653,20120020,S,SW,SW corner of PROSPECT AV and E 156 ST,D,BX012,1.011115e+06,237041.733971,1.011177e+06,237067.737856,PROSPECT AV,E 156 ST,7589,POINT (-73.9029402452 40.8172596019)

In [24]:
# Physical type of basket. C = Solar-powered Compactor, D = Parks basket, E = Seasonal Wire basket, 
# H = High-end basket, R = PSR (Public Space Receptacle), S = Wire basket.

In [36]:
df_cb1["SECTION"].value_counts()

SECTION
BX011    236
BX031    193
BX012    122
BX041    100
Name: count, dtype: int64

In [37]:
# CB1 litter basket types

df_cb1.groupby("BASKETTYPE")["SECTION"].value_counts()

BASKETTYPE  SECTION
D           BX031       35
            BX041        9
            BX011        7
            BX012        4
H           BX031       17
            BX041        5
            BX011        4
R           BX031       91
            BX041       86
            BX011       58
            BX012       14
S           BX011      167
            BX012      104
            BX031       50
Name: count, dtype: int64

In [33]:
df_bx.groupby("SECTION")["BASKETTYPE"].value_counts()

SECTION  BASKETTYPE
BX011    S             167
         R              58
         D               7
         H               4
BX012    S             104
                      ...
BX124    S              43
         R               2
         H               1
BX125    S              34
         H               1
Name: count, Length: 119, dtype: int64

In [20]:
df_bx.groupby("BASKETTYPE")["SECTION"].value_counts().nlargest()

BASKETTYPE  SECTION
S           BX011      167
            BX101      130
            BX021      117
R           BX061      107
S           BX012      104
Name: count, dtype: int64

In [22]:
df_litter

,BASKETID,BASKETTYPE,DIRECTION,LOCATION_DESCRIPTION,OWNERTYPE,SECTION,STATEPLANE_LABELX,STATEPLANE_LABELY,STATEPLANE_SNAPPEDX,STATEPLANE_SNAPPEDY,STREETNAME1,STREETNAME2,OBJECTID,point
0,20830076,S,NaN,NaN,D,BX083,1.010882e+06,262449.998772,NaN,NaN,NaN,NaN,9118,POINT (-73.9036821612 40.8869984052)
1,10930211,S,NaN,NaN,D,MN093,9.984087e+05,243063.759985,NaN,NaN,NaN,NaN,7285,POINT (-73.9488347059 40.8338178525)
2,10720061,H,SW,SW corner of COLUMBUS AV and W 80 ST,B,MN072,9.911033e+05,224397.890165,9.911401e+05,224403.488251,COLUMBUS AV,W 80 ST,5689,POINT (-73.9752530707 40.7825938981)
3,10630050,H,NE,NE corner of 3 AV and E 52 ST,B,MN063,9.926869e+05,215111.260444,9.926454e+05,215099.392358,3 AV,E 52 ST,5285,POINT (-73.9695467272 40.7571031488)
4,10110042,H,NaN,NaN,P,MN011,9.797356e+05,198413.844692,NaN,NaN,NaN,NaN,4666,POINT (-74.0162835878 40.7112757283)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24676,10520133,S,NW,NW corner of BROADWAY and W 56 ST,D,MN052,9.891898e+05,218254.570102,9.892095e+05,218194.646010,BROADWAY,W 56 ST,2136,POINT (-73.9821672873 40.7657333716)
24677,40140111,S,S,S corner of 31 ST and BROADWAY,D,QW014,1.004910e+06,216764.623279,1.004937e+06,216853.677235,31 ST,BROADWAY,21759,POINT (-73.9254231745 40.7616210934)
24678,11230099,S,SE,SE corner of ST NICHOLAS AV and W 193 ST,D,MN123,1.004126e+06,251370.928082,1.004124e+06,251408.381747,ST NICHOLAS AV,W 193 ST,7466,POINT (-73.9281489108 40.8566075654)
24679,40130062,D,Direction TBD,Location Description T/K,O,QW013,1.002238e+06,222416.637894,1.002219e+06,222371.279965,Street Name TBD,NaN,96220,POINT (-73.9350525017 40.7771402386)
24680,10830141,S,SE,SE corner of MADISON AV and E 77 ST,D,MN083,9.944959e+05,221566.283951,9.944917e+05,221602.234011,MADISON AV,E 77 ST,3677,POINT (-73.9630073077 40.7748186055)