In [1]:
import pandas as pd

In [2]:
# initializing monthly tonnage data

df = pd.read_csv("raw-data/DSNY_Monthly_Tonnage_Data_20240922.csv")
df.dtypes

MONTH                   object
BOROUGH                 object
COMMUNITYDISTRICT       object
REFUSETONSCOLLECTED    float64
PAPERTONSCOLLECTED     float64
MGPTONSCOLLECTED       float64
RESORGANICSTONS        float64
SCHOOLORGANICTONS      float64
LEAVESORGANICTONS      float64
XMASTREETONS           float64
BOROUGH_ID             float64
dtype: object

In [3]:
len(df)

23886

In [4]:
# filtering only Bronx

bronx_df = df[df["BOROUGH"] == "Bronx"]

In [5]:
# counting data per community district

bronx_df["COMMUNITYDISTRICT"].value_counts()

COMMUNITYDISTRICT
06    405
11    405
10    405
09    405
12    405
08    403
04    402
05    402
02    402
01    402
07    402
03    401
Name: count, dtype: int64

In [6]:
# filtering CB1 in Bronx

bronx_cb1_df = bronx_df[bronx_df["COMMUNITYDISTRICT"] == "01"]

In [7]:
len(bronx_cb1_df)

402

In [8]:
# taking only 2024 data

bronx_cb1_df.sort_index(ascending=False).head(9)

,MONTH,BOROUGH,COMMUNITYDISTRICT,REFUSETONSCOLLECTED,PAPERTONSCOLLECTED,MGPTONSCOLLECTED,RESORGANICSTONS,SCHOOLORGANICTONS,LEAVESORGANICTONS,XMASTREETONS,BOROUGH_ID
23874,2024 / 09,Bronx,01,548.1,28.1,29.2,NaN,6.8,NaN,NaN,2.0
23783,2024 / 08,Bronx,01,2393.9,130.1,133.4,NaN,12.6,NaN,NaN,2.0
23700,2024 / 07,Bronx,01,2451.9,141.3,153.1,NaN,30.7,NaN,NaN,2.0
23638,2024 / 06,Bronx,01,2305.4,117.2,127.3,NaN,NaN,NaN,NaN,2.0
23600,2024 / 05,Bronx,01,2436.1,119.8,126.4,NaN,NaN,NaN,NaN,2.0
23550,2024 / 04,Bronx,01,2293.8,135.2,146.1,NaN,NaN,NaN,NaN,2.0
23440,2024 / 03,Bronx,01,2293.6,121.9,126.5,NaN,NaN,NaN,NaN,2.0
23395,2024 / 02,Bronx,01,2059.8,109.3,113.0,NaN,NaN,NaN,NaN,2.0
23371,2024 / 01,Bronx,01,2386.3,137.1,148.7,NaN,NaN,NaN,4.5,2.0

In [9]:
# Unable to look at the older data for comparison because it was not regularly updated.

In [10]:
# cleaning CB1 data, for exporting

cb1_2024_df = bronx_cb1_df.sort_index(ascending=False).head(9).drop(["BOROUGH", "COMMUNITYDISTRICT", "RESORGANICSTONS",\
                                                                     "SCHOOLORGANICTONS","LEAVESORGANICTONS", "XMASTREETONS",\
                                                                    "BOROUGH_ID"], axis=1)

In [11]:
cb1_2024_df.to_csv("parsed-data/cb1_2024_monthly_tonnage.csv", index=False, encoding="UTF-8")

In [12]:
# cleaning Bronx data, for exporting

bronx_2024_df = bronx_df.drop(["BOROUGH", "RESORGANICSTONS","SCHOOLORGANICTONS","LEAVESORGANICTONS",\
                               "XMASTREETONS", "BOROUGH_ID"], axis=1)

In [13]:
bronx_2024_df.to_csv("parsed-data/bx_2024_monthly_tonnage.csv", index=False, encoding="UTF-8")

In [14]:
# repeating the process for manhattan

manhattan_df = df[df["BOROUGH"] == "Manhattan"]

In [15]:
manhattan_df.drop(["BOROUGH", "RESORGANICSTONS","SCHOOLORGANICTONS","LEAVESORGANICTONS",\
                               "XMASTREETONS", "BOROUGH_ID"], axis=1).to_csv("parsed-data/mn_2024_monthly_tonnage.csv",\
                               index=False, encoding="UTF-8")

In [16]:
# repeating the process for queens

queens_df = df[df["BOROUGH"] == "Queens"]

In [17]:
queens_df.drop(["BOROUGH", "RESORGANICSTONS","SCHOOLORGANICTONS","LEAVESORGANICTONS",\
                               "XMASTREETONS", "BOROUGH_ID"], axis=1).to_csv("parsed-data/qn_2024_monthly_tonnage.csv",\
                               index=False, encoding="UTF-8")

In [18]:
# repeating the process for brooklyn

brooklyn_df = df[df["BOROUGH"] == "Brooklyn"]

In [19]:
brooklyn_df.drop(["BOROUGH", "RESORGANICSTONS","SCHOOLORGANICTONS","LEAVESORGANICTONS",\
                               "XMASTREETONS", "BOROUGH_ID"], axis=1).to_csv("parsed-data/bk_2024_monthly_tonnage.csv",\
                               index=False, encoding="UTF-8")

In [20]:
# repeating the process for staten island

staten_df = df[df["BOROUGH"] == "Staten Island"]

In [21]:
staten_df.drop(["BOROUGH", "RESORGANICSTONS","SCHOOLORGANICTONS","LEAVESORGANICTONS",\
                               "XMASTREETONS", "BOROUGH_ID"], axis=1).to_csv("parsed-data/si_2024_monthly_tonnage.csv",\
                               index=False, encoding="UTF-8")